@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(0, 88, 129);
  background-size: 600px 450px;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: auto;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌟</text></svg>") 16 0,auto; /*!emojicursor.app*/
  font-family: water;
}

h1
h2 {
  background-color: rgb(0, 88, 129);
   border-radius: 3px;
  font-size: 30px;
   color: rgb(255, 255, 255);
   width: 600px;
   margin: auto;
   margin-bottom: 5px;
}

#myCanvas {
  background-image: url("https://i.sstatic.net/cy6jD.jpg");
  border-radius: 3px;
  border: 2px solid rgb(255, 251, 13);
}



